*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  text-align: center;
}

/* typography */

h1 {
  margin-top: 2em;
  margin-bottom: 0.2em;
}

/* layout */

.card {
  width: 450px;
  height: 550px;
  margin: 0 auto;
  background: white;
}

.card-top form {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 90px;
  margin: 0;
}

.input-color {
  width: 51px;
  height: 34px;
}

.input-color-mode {
  width: 312px;
  height: 42px;
  border: 1px solid #D1D5DB;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  font-size: 1rem;
  color: #111827;
  padding: 0.6em 0.875em;
}

.dropdown-arrow {
  -moz-appearance: none;
  -webkit-appearance: none;
  background-image: url('images/down-arrow.png');
  background-repeat: no-repeat;
  background-position: right .7em top 50%, 0, 0;
}

/* For IE */
.dropdown-arrow::-ms-expand {
  display: none;
}

.submit-btn {
  width: 123px;
  height: 42px;
  background: #FFFFFF;
  border: 1px solid #D1D5DB;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  font-size: 0.75rem;
  font-weight: 500;
}

.card-bottom {
  display: grid;
  grid-template-rows: 414px 46px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas: "color1 color2 color3 color4 color5 color6"
                       "hexVal1 hexVal2 hexVal3 hexVal4 hexVal5 hexVal6";
}

.color1 {
  grid-area: color1;
  background: rgb(252, 207, 207);
}

.color2 {
  grid-area: color2;
  background: rgb(247, 173, 173);
}

.color3 {
  grid-area: color3;
  background: rgb(247, 125, 125);
}

.color4 {
  grid-area: color4;
  background: rgb(255, 103, 103);
}

.color5 {
  grid-area: color5;
  background: rgb(255, 63, 63);
}

.color6 {
  grid-area: color6;
  background: rgb(255, 33, 33);
}

.hexVal {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
  font-weight: 500;
}

/* media queries */

@media (min-width: 570px) {
  .card {
    width: 550px;
  }
}